version: 2.1

commands: 
  eks-login:
      description: logs into eks and sets proper env variables
      steps:
        - run: 
            name: get account id & url base for all repos
            command: |
              export ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
              echo $ACCOUNT_ID
              export ECR_URL=$(aws ecr describe-repositories --repository-names capstone \
              --query 'repositories[0].repositoryUri' | tr -d '"' | cut -d/ -f1)
              echo $ECR_URL
        - run: 
            name: set docker creds for aws
            command: aws ecr get-login-password --region us-west-2 | docker login --username AWS --password-stdin $ECR_URL

  python-install-aws:
    description: installs awscli v2 using pip
    steps:
      - run: 
          name: install aws cli
          command: |
              python -m pip install awscliv2
              awsv2 --install
              alias aws='awsv2'
              aws --version

jobs:
    build:
      docker: 
        - image: python:3.7.3-stretch
      steps:
        - checkout
        - python-install-aws
        - eks-login
        - run:
            name: build docker image
            command: |
              docker build -t capstone:v${CIRCLE_WORKFLOW_ID:0:7} .

        - run: 
            name: commit new docker image
            command: |
              docker tag capstone:v${CIRCLE_WORKFLOW_ID:0:7} "${ECR_URL}/capstone:v${CIRCLE_WORKFLOW_ID:0:7}"
              docker push "${ECR_URL}/capstone:v${CIRCLE_WORKFLOW_ID:0:7}"


    lint:
      docker:
        - image: python:3.7.3-stretch
      steps: 
        - checkout 
        - run: 
            name: set up virtual environment
            command: |
              make setup
              source ~/.capstone/bin/activate
              make install
        - run: 
            name: lint
            command: make lint

    test: 
      docker: 
        - image: python:3.7-alpine3.11
      steps:
        - checkout 
        - python-install-aws
        - eks-login
        - run: 
            name: start docker
            command: |
              docker pull "${ECR_URL}/capstone:v${CIRCLE_WORKFLOW_ID:0:7}"
              docker container run -p 80:81 -d "${ECR_URL}/capstone:v${CIRCLE_WORKFLOW_ID:0:7}"
        - run: 
            name: test image
            command: |
              if curl -s localhost | grep "Hello"
              then
                return 0
              else
                return 1
              fi


workflows:
  default: 
    jobs: 
        - lint
        - build
        - test: 
            requires: [lint, build]